body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todos-main {
  width: 50%;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
input::placeholder {
  font-size: 14px;
}
.add-todo,
.list-todo {
  margin-top: 20px;
  padding: 20px 30px;
  border:none;
}
.list-todo {
  min-height: 300px;
}
.to_do {
  width: 100%;
  height: 100%;
  text-align: center;
}
button {
  display: block;
  width: 100%;
  margin: 30px auto 0px;
  text-transform: uppercase;
}

#to__do-modal {
  width: 220px;
  height: 120px;
  left: 50%;
  top: 50%;
  background-color: white;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  z-index: 22;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.modal-body::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  background-color: rgba(0, 0, 0, 0.657);
  z-index: 2;
}

@media screen and (max-width: 900px) {
  .todos-main {
    width: 90%;
    margin-top: 70px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .add-todo,
  .list-todo {
    margin-top: 10px;
    border-radius: 10px;
  }
  .list-todo {
    min-height: 250px;
  }

  .todo-title {
    font-size: 24px;
  }

  .list-group-item span,
  .list-group-item a {
    font-size: 14px;
  }

  label {
    font-size: 13px;
    margin-bottom: 10px;
  }
}
